@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-4 offset=4">

        <h1 class="display-4" id="h1">Welcome To javascript</h1>
        <input type="text" id="txt" />
        <input type="hidden" id="hdn" />
        <button id="btn">Add</button>
        <hr />
        <div id="displayList"></div>
    </div>
</div>
